.channel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.custom-dropdown-toggle {
    color: #495057;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    padding: 5px 10px;  
}

.custom-dropdown-toggle:hover, .custom-dropdown-toggle:focus {
    color: #343a40; 
    background: #f8f9fa; 
}

.custom-dropdown-menu {
    min-width: 12rem; 
    border: 1px solid #ced4da; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.dropdown-item {
    color: #495057;
    padding: 8px 12px; 
}

.dropdown-item:hover {
    background-color: #e9ecef;
}




