.list-group-item {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
  }

.card {
    cursor: pointer;
    transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    transform: translateY(-2px);
}

.channel-header {
  background-color: #f8f9fa; 
  padding: 0; 
  /* border-bottom: 2px solid #e9ecef; */
}

.custom-card-body {
  font-size: 1.25rem; 
  padding: 20px;
}

