.message-bubble {
    max-width: 60%;
    margin: 10px;
    padding: 10px;
    background-color: #f1f0f0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
    overflow-y: auto;
    padding: 10px;
    height: 100%; 
}

.right {
    display: flex;
    justify-content: flex-end;
    background-color: cornflowerblue;
}

.left {
    display: flex;
    justify-content: flex-start;
}
