/* .create-channel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .channel-form {
    width: 100%; 
    max-width: 500px; 
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .channel-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
   */