body {
  background-color: #f8f9fa;
}

.container-fluid {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-container {
  display: flex;
  height: 100%;
}

.sidebar, .online-users {
  background-color: #C0C0C0;
  color: white;
  padding: 0;
}

.sidebar {
  width: 30%;
}

.chat-window {
  width: 70%;
  padding: 0;
  background-color: white;
}

.online-users {
  width: 20%;
}


